<ion-view hide-nav-bar="true">

    <div class="branding">
      <br>
      <div class="tagline"></div>

    </div>
  </ion-content>
</ion-view>

 <body ng-app="starter">

    <ion-pane>
      <ion-content scroll="false">

<section class = "home-container">

<div class = "row header">

<div class = "col text-center">
  <ion-content class="splash padding">

            </div>

          </div>


<div class = "row">

<div class = "col text-center">
              <button class = "button button-dark">Icon</button>

            </div>


<div class = "col text-center">
              <button class = "button button-dark">Icon</button>

            </div>

          </div>


<div class = "row">

<div class = "col text-center">
              <button class = "button button-dark">Icon</button>

            </div>


<div class = "col text-center">
              <button class = "button button-dark">Icon</button>

            </div>

          </div>


<div class = "row">

<div class = "col text-center">
              <button class = "button button-dark">Icon</button>

            </div>


<div class = "col text-center">
              <button class = "button button-dark">Icon</button>

            </div>

          </div>

        </section>

      </ion-content>
    </ion-pane>

  </body>
