<ion-view hide-nav-bar="true">

    <div class="branding">
      <br>
      <div class="tagline"></div>

    </div>
  </ion-content>
</ion-view>


 <body ng-app="starter">

    <ion-pane>
      <ion-content scroll="false">

<section class = "home-container">

<div class = "row header">

<div class = "col text-center">
  <ion-content class="splash padding">

            </div>

          </div>


<div class = "row">

<div class = "col text-center">
              <button class = "button button-dark" <a href="" onClick="window.location.href='https://www.youtube.com/watch?v=JIdiKAN_XZg';return false;" target="_blank"></a>Stunts</button>

            </div>

<div class = "col text-center">
              <button class = "button button-dark" <a href="" onClick="window.location.href='https://youtu.be/ABVCNg-O6a4';return false;">Dance</button>


            </div>

          </div>


<div class = "row">


<div class = "col text-center">
               <button class = "button button-dark" <a href="" onClick="window.location.href='https://www.youtube.com/watch?v=cevKK6uuCfU';return false;">Tricking</button>

            </div>

https://www.youtube.com/watch?v=o5c7rWvWVFU
<div class = "col text-center">
               <button class = "button button-dark" <a href="" onClick="window.location.href='https://www.youtube.com/watch?v=o5c7rWvWVFU';return false;">Acting</button>

            </div>

          </div>


<div class = "row">


<div class = "col text-center">
              <button class = "button button-dark" <a href="" onClick="window.location.href='https://vimeo.com/96030980';return false;">Movement</button>

            </div>


<div class = "col text-center">
              <button class = "button button-dark" <a href="" onClick="window.location.href='https://vimeo.com/96030980';return false;">technology</button>

            </div>

          </div>

        </section>

      </ion-content>
    </ion-pane>

  </body>


