<ion-view view-title="Information">
  <ion-content class="splash padding">
    <div class="branding">

<div class="card">
  <div class="item item-text-wrap">
    <h3 class="info_tagline"><span style="color:black">Mo Cap Arts (MCA)</span> is a performance Agency and community dedicated to
        advancing the arts, sciences, and applications of the motion capture industry.
        Mo Cap Arts facilitates the curation of everything from talent and contracts to rehearsal spaces.
        Making working with motion capture artists and technology more cost than ever.
         Makeing Mo Cap Arts the most
        effective approach for any production looking for motion capture experts.
      </h3>

      <h1>Services</h1>

      <ul>
        <li>Personalized Casting</li>
        <li>Handle Artists Contract responsibilities</li>
        <li>Procurment of Rehersal space no matter the location</li>
      </ul>

      <div class "contact"><h2>CONTACT:Jackamo jackamo_chan@gmail.com</h2></div>
  </div>
</div>
