<ion-view hide-nav-bar="true">
  <ion-content class="splash padding">
    <div class="branding">
      <br>
      <div class="content"></div>
      <div class "contact"><h4>CONTACT:Jackamo jackamo_chan@gmail.com</h4></div>
      <h3 class="info_tagline">Mo Cap Arts (MCA) is a performance Agency and community dedicated to
        advancing the arts, sciences, and applications of the motion capture industry.
        Mo Cap Arts facilitates the curation of everything from talent and contracts to rehearsal spaces.
        Making working with motion capture artists and technology more cost
        effective approach to  for any production  the motion capture industry.
      </h3>
    </div>
  </ion-content>
</ion-view>
