<ion-view view-title="Information">
  <ion-content class="splash padding">
    <div class="branding">

<div class="card">
  <div class="item item-text-wrap">
    <h3 class="info_tagline"><span style="color:black">Mo Cap Arts (MCA)</span> is a performance Agency and Prep service for MoCap shoots.  A community dedicated to
        advancing the arts, sciences, and applications of the motion capture industry.
        Mo Cap Arts facilitates the curation of everything from talent and contracts to rehearsal spaces.
        Making working with motion capture artists and technology more cost than ever.
         Makeing Mo Cap Arts the most
        effective approach for any production looking for motion capture experts.
      </h3>

      <h1>Services</h1>

      <ul>
        <li>Creature Workshop</li>
        </br>
        <li>stunt/fight choreography workshop</li>
        </br>
        <li>shot listing and scheduling</li>
        </br>
        <li>prop listing and acquisition</li>
        </br>
        <li>Talent Pool</li>
        </br>
        <li>listings for Professional MoCap actors and studios/facilities</li>
        </br>
        <li>Casting/production poster boards</li>
        </br>
        <li>listings for upcoming auditions/productions</li>
        </br>
        <li>new tech/upcoming events/conventions etc/awards and nominations</li>
        </br>
      </ul>
      <div class "contact"><h2>CONTACT:Jackamo jackamo_chan@gmail.com</h2></div>
  </div>
</div>
