<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="Home" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Artists" icon="ion-ios-people"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendar" icon="ion-calendar"
    href="#/tab/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="Admin">
    <ion-nav-view name="admin-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="update">
    <ion-nav-view name="update-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Info" icon="ion-information"
    href="#/tab/information">
    <ion-nav-view name="information-tab"></ion-nav-view>
  </ion-tab>

   <ion-tab title="YouTube" icon="ion-social-youtube-outline"
    href="#/tab/youtube"><ion-nav-view name="youtube-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
