</br>
</br>
</br>
<h2>Admin Add Event</h2>
</br>
</br></br>
<div class="list">
<div class="item item-input-inset">
    <ul>
    <label class="item-input-wrapper">
      <input type="text" placeholder="NewEvent">
    </label>
    </ul>
    <ul>
    <label class="item-input-wrapper">
      <input type="text" placeholder="location">
    </label>
    </ul>
    <button class="button button-small" ng-click="createNewItem()" class="btn btn-small btn-primary">Add New Event

    </button>
  </div>
</div>
