
<ion-view view-title="MoCapArts Video Gallery">
<ion-content class="splash padding">
        <div class="branding">
        <ion-list>
        <div class="card">
        <h2>Video Gallery</h2>
            <ion-item>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ysIR2bjDctA" frameborder="0" allowfullscreen></iframe>
                </div>
            </ion-item>
        </div>

        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jE_QjOM810c" frameborder="0" allowfullscreen></iframe>
                </div>
            </ion-item>
        </div>

        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hPS7_MprOEc" frameborder="0" allowfullscreen></iframe>
                </div>
            </ion-item>
        </div>


    </ion-list>
</ion-content>

    </div>
   </ion-content>

